body {
  margin-top: 0;
  background-color: #fff;
}

/* Navigation Bar >> bootstrap navbar */
.logo {
  margin-left: 70px;
  z-index: 99;
}

.navbar {
  height: 100px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav {
  margin-right: 70px;

  border-radius: 4px;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item:hover {

}

/* Section 1 >> Carousel, captions */
.sec1 {
  height: 50vw;
  overflow: hidden;
}

.carousel-caption {
  top: 17vw;
}

.mainCaption {
  font-size: 70px;
  z-index: 999;
}

.descCaption {
  font-size: 20px;
}

.carousel-item {
  height: 46vw;
}

.carousel-indicators {
  top: 42vw;
}

.carousel-indicators > li {
  width: 70px;
}

.d-block {
  filter: brightness(50%);
  z-index: 1;
}

/* Section 2 */

.sec2 {
  color: #000;
  overflow: visible;
}

.bigLogo{
  padding-top: 15px;
  display: block;
  height: 250px;
  width: 50vw;
  margin: 0 auto;
  padding-bottom: 70px;
}

.description {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
}

.description > ul {
  line-height: 50px;
}
hr{
  border-top: 4px solid #1a4578;
  width: 300px;
  margin: 70px auto;
}

.row {
  color: #1a4578;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-top: 3vw;
  margin-left: 100px;
  margin-right: 100px;
}

.perk {
  max-width: 250px;
}

/* SECTION 3 */

.sec3 {
  background-color: #1a4578;
  color: #fff;
  font-weight: bold;
}

.contact {
  height: 25px;
  padding-right: 20px;
  margin-left: 40px;
}
